body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  display: inline-block;
  margin-right: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

.nav-links {
  height: 2.5rem;
  margin: 0;
  display: flex;
  align-items: center;
}

nav {
  background: #4db6ac;
}

.common-button:hover {
  cursor: pointer;
}