@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,800&display=swap");

body {
  margin: 0;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #353535;
    min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  display: flex;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.nav-links {
  height: 2.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

nav {
  background: #ee6e73;
}

.common-button:hover {
  cursor: pointer;
}

.left {
  margin-right: auto;
}

.logo {
  font-weight: 800;
  font-size: 3rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.content {
  min-height: calc(100vh - 2.5rem);
  display: flex;
}

.active-nav-link {
  font-size: 1000;
}