@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,800&display=swap");

body {
  margin: 0;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #353535;
    min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  display: flex;
  margin-right:1rem;
  margin-left: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

.nav-links {
  height: 2.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

nav {
  background: #ee6e73;
  position: fixed;
  width: 100%;
}

.common-button:hover {
  cursor: pointer;
}

.left {
  margin-right: auto;
}

.logo {
  font-weight: 800;
  font-size: 3rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.content {
  min-height: calc(100vh - 2.5rem - 4rem);
  display: flex;
  padding: 2rem;
  padding-top: 4.5rem;
}

.active-nav-link {
  font-size: 1000;
}

.selenium-marker {
  margin-left: 1rem;
  padding: .1rem 1rem .1rem 1rem;
  border-radius: 25px;
  background-color: rgb(110, 195, 255);
  color: white;
}

.pinkprint-li {
  margin-top: .5rem;
  padding-left: 2rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-right: 2rem;
  border-left: 3px solid #ee6e73;
}

.pinkprint-li:hover {
  background-color: rgb(255, 231, 231);
}

.blueprint-li {
  margin-top: .5rem;
  padding-left: 2rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-right: 2rem;
  border-left: 3px solid  rgb(110, 195, 255);
}

.blueprint-li:hover {
  background-color: rgb(211, 244, 255);
}


.hl {
  background-color: #fbc3ff;
}

.input-search {
  padding: .2rem;
  font-size: 1.1rem;
  border: 2px solid #ee6e73;
  border-radius: 5px;
}

.home-special {
  position: relative;
  top: -4rem;
}

.flex-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.focus-container {
  background-color: rgb(231, 246, 255);
  display: flex;
  position: fixed; 
  height: calc(100vh - 11rem);
  width: 100%;
  padding: 2rem;
  border-radius: 32.5px;
}

.focus-column {
  flex-grow: 1;
  display: flex;
}

.warning-blue {
  font-size: .8rem;
  font-weight: bold;
}